<div class="row justify-content-center mb-4">
  <div class="col-8">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg"> <i class="fas fa-search    "></i></span>
      </div>
      <input type="text" class="form-control" (keyup)="filter()" aria-label="Large" placeholder="search"
        [(ngModel)]="filterValue" aria-describedby="inputGroup-sizing-sm">
    </div>
  </div>
</div>

<div class="view my-2 d-flex justify-content-end align-items-center">
  <b>View as: </b>
  <i [class.active]="view === 'grid'" (click)="view = 'grid'" class="fas fa-th"></i>
  <i [class.active]="view === 'list'" (click)="view = 'list'" class="fas fa-list    "></i>
</div>
<div class="row">
  <div [ngClass]="{'col-md-4 col-sm-6': view === 'grid', 'col-12': view === 'list'}" *ngFor="let product of products">
    <cart-item [item]="product"></cart-item>
  </div>
</div>

<p *ngIf="!products?.length" class="text-center">
  no data found ...
</p>
