.navbar{
  padding: 0;
  .nav-link{
    margin: 0 5px;
    padding: 13px 30px;
    transition: background-color .3s ease, color .3s ease;
    &.active, &:hover{
      background-color: cornflowerblue;
      color: #fff;
    }
  }
  .user, .cart-icon{
    cursor: pointer;
  }
  .user::after{
    vertical-align: 0.08em;
  }
  .cart-icon{
    position: relative;
    i{
      font-size: 1.5rem;
    }
    .cart-items{
      position: absolute;
      background-color: cornflowerblue;
      display: inline-block;
      left: -10px;
      bottom: -5px;
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 50%;
      color: #fff;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
