<div class="card product-card mb-4 shadow-sm">
  <img routerLink="/products/{{item.id}}" class="card-img-top" style="height: 225px; width: 100%; display: block;"
    [src]="item.imgPath" data-holder-rendered="true">
  <div class="card-body">
    <p routerLink="/products/{{item.id}}" class="card-text d-flex justify-content-between">
      <span>{{item.name}}</span>
      <span>{{item.price | currency}}</span>
    </p>
    <p routerLink="/products/{{item.id}}">
      {{item.category}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
        <input type="number" min="0" numberOnly class="col" name="itemCount" [(ngModel)]="itemNum">
      </div>
      <button class="btn btn-sm btn-block main-btn" (click)="$event.stopPropagation();addToCart()">
        <span *ngIf="item.itemCount > 0"> Update Cart </span>
        <span *ngIf="item.itemCount == 0"> Add To Cart </span>
      </button>
    </div>
  </div>
</div>
