<div class="card product-card mb-4 shadow-sm" routerLink="/products/{{item.id}}">
  <img class="card-img-top" style="height: 225px; width: 100%; display: block;" [src]="item.imgPath"
    data-holder-rendered="true">
  <div class="card-body">
    <p class="card-text d-flex justify-content-between">
      <span>{{item.name}}</span>
      <span>{{item.price | currency}}</span>
    </p>
    <p>
      {{item.category}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="btn main-btn btn-block">add to cart</button>
    </div>
  </div>
</div>
